In [8]:
import pandas as pd
import csv 
df = pd.read_csv('shelter-animal-data_fixed.csv')
df.head()

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa,Unnamed: 23,Unnamed: 24
0,15801,11/28/09 0:00,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,0,NaN,Stray,NaN,Died in care,0,0,0,NaN,NaN
1,15932,12/8/09 0:00,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,0,NaN,Stray,NaN,Died in care,0,0,0,NaN,NaN
2,28859,8/10/12 0:00,Abandoned,0,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,...,0,NaN,Stray,NaN,Died in care,0,0,0,NaN,NaN
3,30812,1/11/13 0:00,Abandoned,0,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,...,0,NaN,Stray,NaN,Died in care,0,0,0,NaN,NaN
4,31469,3/26/13 0:00,Incompatible,0,D1303720,9.81E+14,Bonnie,Basenji/Mix,Brown and White,Dog,...,0,5/8/17 0:00,Incompatible,NaN,Died in care,0,0,0,NaN,NaN

'Misty' and 'Wallaby' are the shelter names of two cats that John adopted (now 'Lupini' and 'Garbanzo'). They were kittens adopted on 7/29/17. We can decipher some of these columns by looking at Misty's record.

In [12]:
misty = df[df['animalname']=="Misty"]
misty.to_dict()

{'id': {1615: 56615},
 'intakedate': {1615: '7/14/17 13:01'},
 'intakereason': {1615: 'Litter relinquishment'},
 'istransfer': {1615: 0},
 'sheltercode': {1615: 'C1707739'},
 'identichipnumber': {1615: '9.81E+14'},
 'animalname': {1615: 'Misty'},
 'breedname': {1615: 'Domestic Short Hair'},
 'basecolour': {1615: 'Buff'},
 'speciesname': {1615: 'Cat'},
 'animalage': {1615: '11 months.'},
 'sexname': {1615: 'Female'},
 'location': {1615: 'Lobby'},
 'movementdate': {1615: '7/29/17 0:00'},
 'movementtype': {1615: 'Adoption'},
 'istrial': {1615: '0'},
 'returndate': {1615: nan},
 'returnedreason': {1615: 'Stray'},
 'deceaseddate': {1615: nan},
 'deceasedreason': {1615: 'Court Order/ Legal'},
 'diedoffshelter': {1615: '0'},
 'puttosleep': {1615: '0'},
 'isdoa': {1615: 0},
 'Unnamed: 23': {1615: nan},
 'Unnamed: 24': {1615: nan}}

From this we can infer the following field descriptions:  

| label | description |
| ----- | ----------- |
| intakereason | Why the animal came to the shelter |
| movementtype | The animal's eventual outcome |

Let's look at the unique values for these fields to learn more about how animals come to and leave the shelter.

In [20]:
print(f"Intake Reasons:\n{df.intakereason.unique()}\n")
print(f"Movement Types:\n{df.movementtype.unique()}")

Intake Reasons:
['Moving' 'Abandoned' 'Incompatible' 'Rabies Monitoring'
 'Marriage/Relationship split' 'Owner Deceased' 'Stray' nan
 'Police Assist' 'Biting' 'Owner Died' 'TNR - Trap/Neuter/Release'
 'Unable to Afford' 'Unsuitable Accomodation' 'Injured Wildlife'
 'Allergies' 'Transfer from Other Shelter' 'Born in Shelter'
 'Sick/Injured' 'Landlord issues' 'Litter relinquishment'
 'Owner requested Euthanasia']

Movement Types:
['Adoption' 'Foster' 'Transfer' 'Reclaimed' '3/29/17 0:00' '4/12/17 0:00'
 'None' '4/13/17 0:00' '5/6/17 0:00' '5/2/17 0:00' '4/24/17 0:00'
 '10/28/17 0:00' '4/30/17 0:00' '5/20/17 0:00' '7/1/17 0:00'
 '5/23/17 0:00' '5/21/17 0:00' '5/26/17 0:00' '6/21/17 0:00'
 'Released To Wild' 'Stray Dogs Theta' '6/24/17 0:00' '6/1/17 0:00'
 '7/8/17 0:00' '6/16/17 0:00' '6/17/17 0:00' '6/3/17 0:00' '6/7/17 0:00'
 '6/18/17 0:00' '7/7/17 0:00' '6/30/17 0:00' '7/6/17 0:00' 'Stolen'
 '7/29/17 0:00' '7/15/17 0:00' '10/2/17 0:00' '12/8/17 0:00'
 '7/18/17 0:00' '7/22/17 0:00' '7/21/17 0:00' '8/8/17 0:00' '7/26/17 0:00'
 '8/6/17 0:00' '7/28/17 0:00' '8/10/17 0:00' '8/4/17 0:00' '8/12/17 0:00'
 '9/27/17 0:00' '10/27/17 0:00' '8/19/17 0:00' '8/26/17 0:00'
 '10/6/17 0:00' '10/14/17 0:00' '9/30/17 0:00' '9/1/17 0:00'
 '9/12/17 0:00' '9/5/17 0:00' '11/3/17 0:00' '9/23/17 0:00'
 '10/23/17 0:00' '11/11/17 0:00' '11/18/17 0:00' '10/19/17 0:00'
 '10/30/17 0:00' '10/13/17 0:00' '10/17/17 0:00' '10/20/17 0:00'
 '12/1/17 0:00' '10/25/17 0:00' '1/20/18 0:00' '10/22/17 0:00'
 '10/18/17 0:00' '11/21/17 0:00' '12/9/17 0:00' '12/21/17 0:00'
 '12/29/17 0:00' '1/2/18 0:00' '1/24/18 0:00' '12/28/17 0:00'
 '1/7/18 0:00' '1/10/18 0:00' '1/16/18 0:00' '2/16/18 0:00' '1/25/18 0:00'
 '2/2/18 0:00' '2/10/18 0:00' '1/22/18 0:00' '1/30/18 0:00' '3/2/18 0:00'
 '2/23/18 0:00' '3/26/18 0:00' '2/17/18 0:00' '3/12/18 0:00'
 '3/16/18 0:00' '3/20/18 0:00' '4/7/18 0:00']

*returnedreason* is still a mystery because as far as we know she wasn't a stray. *deceasedreason* is also a mystery because it neither makes sense nor is it particularly true as she is not deceased. Perhaps the deceasedreason is a field that has particular meaning when the animal has died -- maybe in conjunction with *deceaseddate*, *diedoffshelter*, *puttosleep*, and *isdoa* -- and another meaning when the animal is still alive.